<!--
  <p>
    Trabalhando com Eventos!
  </p>
-->
<!-- {{eventos[0].Tema}} -->

<!-- Utilizando a diretiva do Angular -->
<!--
  <div *ngFor="let evento of eventos">
    Tema: {{evento.tema}}
    <br/>
    Local: {{evento.local}}
    <br/>
    Data do Evento: {{evento.dataEvento}}
    <hr/>

  </div>
-->

<!-- Criação de um formulário simples, forma de criar digitando ' form>.form-group.mb-2>input.form-control.mr-2 ' depois aperta o ' enter ' -->
<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro: </label>
    <input type="text"
    class="form-control mr-2"
    placeholder="Busca informações"
    [(ngModel)]="filtroLista"> <!-- Para utilizar o 'filtroLista' deve importar o 'FormsModule' dentro do ' app.module.ts '-->

    <!-- Criação de um botão, forma de criar digitando ' btn.btn.btn-outline-success{Buscar} ' depois aperta o ' enter ' -->
    <!-- <button class="btn btn-outline-success">Buscar</button> -->
  </div>
</div>

<h3>Filtro: {{filtroLista}}</h3>

<!-- Criação de uma tabela digitando ' table.table.table-striped>thead.thead-dark>tr>th*7 ' depois aperta o ' enter ' -->
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline-primary"
        (click)="alternarImagem()">
        <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
        <!-- {{mostrarImagem ? 'Ocultar' : 'Mostrar'}}
          Imagem -->
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <!-- Criação do conteudo da tabela digitando ' tbody>tr>td*7 ' depois aperta o ' enter ' -->
  <tbody *ngIf="eventos && eventos.length">
    <!-- Realiza um binding com interpolação entre uma propriedade da nossa classe (contida dentro do eventos.component.ts) e o nosso template -->
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <!-- Trabalhando com concatenação e criando propriedades -->
        <img *ngIf="mostrarImagem"
        src="http://localhost:5000/img/{{evento.imagemURL}}"
        [style.width.px]="imagemLargura"
        [style.margin.px]="imagemMargem">
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormatPipe}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>
        <div *ngIf="!evento.lotes.length">
          Não Informado.
        </div>
        <div *ngIf="evento.lotes.length">
          {{evento.lotes[0].nome | uppercase }}
        </div>
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-success"
            tooltip="Editar" (click)="openModal(template)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" tooltip="Excluir">
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="7" class="text-center">
        <h4>
          Nenhum evento encontrado!
        </h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-tittle pull-left">Modal</h4>
    <button type="button" class="close pull-right"
    aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  this is a modal.
</div>
</ng-template>
